.textBox {
  font-size: 4rem;
  font-weight: 600;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#82B8FC;
  text-align: left !important;
  line-height: 100%;
}

.text-items-center {
  display: flex; 
  align-items: center;
  height: 100%;
}